<section class="cards-holder grid">
    <div class="row justify-center">
        <div class="col-12 col-md-6 col-lg-4 justify-center">
           {{> card
                card_title="Plan Free"
                card_description="Tareas básicas y límite de 30 horas vcpu."
                card_img="https://picsum.photos/id/156/300/200"
                card_label="Free to the Adventure"
                card_price="120.00"
                card_cta="Buy"
           }}
        </div>
        <div class="col-12 col-md-6 col-lg-4 justify-center">
            {{> card
                card_title="Professional"
                card_description="Free mas 100 Horas vcpu."
                card_img="https://picsum.photos/id/256/300/200"
                card_label="Startup flight off"
                card_price="1000.00"
                card_cta="Buy"
            }}
        </div>
        <div class="col-12 col-md-6 col-lg-4 justify-center">
            {{> card
                card_title="Enterprise"
                card_description="Professional plus Unlimited vcpu."
                card_img="https://picsum.photos/id/56/300/200"
                card_label="Serious Business"
                card_price="50,000.00"
                card_cta="Buy"
            }}
        </div>
    </div>
</section>